AIRFLOW__SECRETS__BACKEND=airflow.providers.hashicorp.secrets.vault.VaultBackend
AIRFLOW__SECRETS__BACKEND_KWARGS={"mount_point": "secret", "connections_path": "connections", "variables_path":"variables", "config_path": null, "url": "https://YOUR-CLUSTER.hashicorp.cloud:8200", "namespace": "admin", "auth_type": "approle", "role_id":"xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxx", "secret_id":"yyyyyyyy-yyyy-yyyy-yyyy-yyyyyyyyyy"}
